game_structure/.obsidian
# CMake
build
bin
# IDE
.vscode
.idea
# clang
.cache
*.game

# test 
test.cpp
test.exe

src/block.cpp
src/scene.cpp
src/language.cpp
src/scene.h
src/MyGame/expandablemenu.h
src/MyGame/expandablemenu.cpp

src/Game_Server
src/ChatClient